* {box-sizing: border-box;
  
}

body {
    width: 480px;
    height: 800px;
  margin: auto;
  display: grid;
  grid-template: 10% 15% 15% 15% 15% 15% 15% / 1fr 1fr;
  }
  
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(56, 56, 56) 1px ridge;
  }