.a{
    background-color:rgb(163, 134, 2);
}
.b{
    background-color: rgb(151, 64, 43);
}
.c{
    background-color: rgb(241, 211, 75);
}
.d{
    background-color:rgb(245, 225, 114);
}
.e{
    background-color: rgb(170, 142, 106);

}
.f{
    background-color: rgb(172, 145, 73);

}
.g{
    background-color: rgb(206, 179, 104);

}
.h{
    background-color: rgb(129, 79, 22);

}
.i{
    background-color: rgb(70, 44, 6);
}